body {
    margin: 0;
}

#form {
    position: fixed;
    bottom: 0;
    width: 78%;
    display: flex;
    padding: 1%;
    background-color: white;
}

.conversation {
    width: 80%;
}

#label_input {
    display: none;
}

#input {
    border : 1px solid #A2A2A2;
    border-radius: 10px 0 0 10px;
    padding : 1%;
    width: 80%;
}

#btn {
    border : 1px solid #A2A2A2;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 1%;
    width: 16%;
}

#messages p {
    background-color: #1A62C3;
    padding: 1%;
    border-radius: 10px;
    margin: 2%;
    width: 40%;
    color : white;
}

.two_columns {
    display: flex;
    height: 100vh;
}

.all_rooms {
    width: 10%;
    background-color: darkgray;
    height: 100vh;
}

.profil{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #3B3B3B;
    margin: 9% 7%;
}

.room {
    display: flex;
    align-items: center;
}

.utilisateur p {
    color : white;
}

.all_utilisateurs {
    width: 10%;
    background-color: darkgray;
    height: 100vh;
}